
:root{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    --main-bg-color: #36384d;
}

body{
    background-color:var(--main-bg-color) ;
    box-sizing: border-box;  
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.card{
    background-color: white;
    width: 600px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-radius: 20px; 
}

h1{
    color: var(--main-bg-color);
}

.img{
    width: 100%;
}

.img_des{
    max-width: 245px;
}

.img_mob{
    display: none;
}

.stab{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: -10px;
    font-size: small;
}

.content .card p{
    color:var(--main-bg-color);
    font-size: small;
}

.card .left_card {
    padding: 20px;
}
 
.label{
    display: block;
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-bg-color);
}

form{
    margin-top: 15px;
}

form div{
    width: 280px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
}

.Bold{
    font-weight: bold;
}

.p_eror{
    display: none;
    float: left;
    font-size: small;
    align-items: center;
}

input{
    width: 85%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: solid 1px var(--main-bg-color);
}

button{
    width: 92%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--main-bg-color);
    background-color: var(--main-bg-color);
    color: white;
    font-size:small;
    font-weight: bold;
}

.success{
    display: none;
    width: 265px;
    max-height: 280px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.cont .success h1{
    margin-bottom: auto;
    margin-top: 10px;
}

.cont .success p{
    color: var(--main-bg-color);
    font-size: small;
}

.but{
    background-color: hsl(356deg 91% 66%);
    border-color: hsl(356deg 91% 66%);
}

.ShowItem{
    display: block;
}

.HideItem{
    display: none;
}

.Flex{
    display: flex;
}

.StyleInputEmail{
    background-color: brown;
    color: brown;
}


@media (max-width: 480px){

    .container{
        height: 83vh;  
        align-items: center;
        
    }

    .card {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .card .left_card {
        padding-bottom: inherit;
    }

    body{
        background-color: white;
    }

    .img_mob{
        display: block;
        width: 100%;
    }

     .img_des{
        display: none;
    }
   
    form{
        margin-top: 20px;
    }

    input{
        width: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 15px;
    }

    button{
        padding: 15px;
        width: -webkit-fill-available;
    }

    p{
        font-size: initial;
    }

    /* .cont{
        align-items: flex-start;
        margin-top: 80px;
        height: 80vh;
    } */

    .success{
        padding-left: 0px;
    }
    .but{
        margin-top: 120px;
    }
    
    .cont .success h1{
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .cont .success p{
        font-size: medium;
    }

    
}
